@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0;
  height: 100vh;
  max-width: 100vw;
  font-family: "Andika", serif;
}
#add-book {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #10451d;
  color: white;
  text-align: center;
  min-height: 100%;
}
#main {
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  font-weight: 500;
  gap: 2rem;
}
#welcome {
  max-width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}
#library {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

#book-shelf {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  height: 60vh;
  background-color: #250902;
  margin: auto;
  align-items: center;
  border-radius: 1%;
  margin-bottom: 1rem;
}
.shelf-1,
.shelf-3,
.shelf-2 {
  width: 90%;
  height: 25%;
  background-color: #78290f;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border: 2px solid rgb(24, 7, 7);
  border-radius: 1%;
}
.shelf-2 {
  justify-content: flex-end;
}

.book {
  width: 8%;
  height: 90%;
  background-color: #10451d;
  border: 1px solid;
  display: none;
  border-radius: 7%;
}

#books-list {
  width: min-content;

  overflow: auto;
  height: 54vh;
  margin: 0 -8rem 1rem 5rem;
}
.remove-btn {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: none;
  background-color: rgb(221, 4, 4);
  color: white;
  cursor: pointer;
  text-align: center;
  padding-bottom: 1.1rem;
}
table {
  border-collapse: collapse;
  border-spacing: 2rem 0;
  font-size: 0.9rem;
  padding: -6rem 0 0 1rem;
  margin-top: -1rem;
}
tr {
  border-bottom: 0.1rem solid #10451d;
}
th {
  color: #10451d;
  font-size: 1.1rem;
}
th,
td {
  padding-block: 0.8rem;
  padding-left: 1rem;
  text-align: left;
}
#add-button {
  width: 5rem;
  height: 2rem;
  background-color: white;
  color: #10451d;
  font-weight: bolder;
  margin: 1rem auto 0 auto;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  font-family: "Andika";
}
h1 {
  color: #10451d;
  margin-bottom: -0.3rem;
}
h2 {
  font-size: 1.3rem;
  margin-bottom: -0.3rem;
  margin-top: 2rem;
}
label {
  width: 11rem;
  text-align: center;
}
input {
  flex: 1;
  padding: 0.2rem;
  text-align: center;
  display: inline;
}
#read-or-not {
  width: 11.2rem;
  padding: 0.2rem;
  text-align: center;
  display: inline;
}
#brand {
  color: white;
  font-size: 2.8rem;
  margin-top: -2rem;
  margin-bottom: 0;
}

@media (max-width: 500px) {
  html,
  body {
    width: 100vw;
    box-sizing: border-box;
    margin: auto;
    overflow-x: hidden;
  }
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #library {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }
  #book-shelf {
    width: 50vw;
    height: 30vh;
    margin-bottom: 3rem;
  }
  #books-list {
    max-height: min-content;
    width: 90%;
    margin: 2rem auto -3rem auto;
    overflow: auto;
  }
  #add-book {
    width: 100%;
    height: 100vh;
  }
  #main,
  aside {
    width: 100%;
    height: 100vh;
  }

  table {
    width: 100%;
    margin: auto;

    overflow: hidden;
  }

  p {
    min-width: 85vw;
  }
}
